@charset "utf-8";
@import url("./common.css");

.swiper-pagination-bullet {
	background-color: #000;
}

.footer-bottom-info li a {
	width: 30px;
	height: 30px;
}

.container .quickcategorylist-box li a {
	position: relative;
	margin:0 auto;
	width: 55px;
	height: 55px;
}
// 소제목 크기

h3 { font-size: 2rem; }


// 상단 퀵메뉴 sprite 추출

.icon-mc-quick-01, .icon-mc-quick-02, .icon-mc-quick-03, .icon-mc-quick-04, .icon-mc-quick-05, .icon-mc-quick-06, .icon-mc-quick-07, .icon-mc-quick-08 { background: url("../images/icon_mc_quick.png") no-repeat; background-size: 100%; }
.icon-mc-quick-01 { background-position: 0 0; }
.icon-mc-quick-02 { background-position: 0 -55px; }
.icon-mc-quick-03 { background-position: 0 -110px; }
.icon-mc-quick-04 { background-position: 0 -165px; }
.icon-mc-quick-05 { background-position: 0 -220px; }
.icon-mc-quick-06 { background-position: 0 -275px; }
.icon-mc-quick-07 { background-position: 0 -330px; }
.icon-mc-quick-08 { background-position: 0 -385px; }

// 하단 아이콘 sprite 추출

.icon-botsns-01, .icon-botsns-02, .icon-botsns-03, .icon-botsns-04 { background: url("../images/common/icon_botsns.png") no-repeat; background-size:100%; }
.icon-botsns-01 { background-position: 0 0; }
.icon-botsns-02 {background-position: 0 -30px; }
.icon-botsns-03 { background-position: 0 -60px; }
.icon-botsns-04 { background-position: 0 -90px; }


// blind text 작성

.blind-text {
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.container {
  position:relative;
  margin:0 auto;
  // max-width: 720px;
  overflow: hidden;
  .navbar-header {
    position:relative;
    width:100%;
	&-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:1rem 2rem;
		li:nth-child(2) > a {
			background-image: url('../images/common/toplogo.jpg');
			width: 81px;
			height: 40px;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50%;
		}
		&-line {
			position: relative;
			height: 2px;
			width: 21px;
			display: block;
			background-color: #58595b;
			cursor: pointer;
			&::after {
				content: '';
				position: absolute;
				display: block;
				width: 18px;
				height: 2px;
				background-color: #58595b;
				transform: translate(0, 8px);
			}
			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 2px;
				background-color: #58595b;
				transform: translate(0, -8px);
			}
		}
		li {
			display: flex;
			flex: 0 0 33%;
			&:nth-child(2) {
				justify-content: center;
			}

			&:last-child {
				justify-content: flex-end;
				a {
					background-image: url('../images/common/search.png');
					width: 26px;
					height: 26px;
					overflow: hidden;
					background-repeat: no-repeat;
					background-size: contain;
				}
				img {
					width: 22px;
					height: 22px;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}

		}

		// li img {
		// 	position:relative;
		// 	left:50%;
		// 	transform: translate(-50%);
		// 	max-width:70%;
		// }
	}


	}

	main > .swiper {
		width:100%;
		height: auto;
		margin-bottom: -45px;
		.swiper-pagination-total:after {
			position: absolute;
			content:'+';
			float:right;
			padding:0 1vw;
		}
		.swiper-container {
			width: 100%;
			height: 100%;
			overflow: hidden;
			.swiper-wrapper {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 1;
			display: flex;
			box-sizing: content-box;
			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				width:100%;
				img {
					width: 100%;
				}
			}
		}

		.swiper-pagination-custom-1 {
			position: relative;
			width:110px;
			height: auto;
			padding:10px;
			left:22px;
			bottom: 76px;
			background-color: rgba(0,0,0,0.3);
			border-radius: 100px;
			color:white;
			z-index: 3;
		}
	}
  }

  .quickcategorylist {
	position: relative;
	width:100%;
	height: auto;

	&-box {
		display: flex;
		width:100%;
		height: 220px;
		flex-wrap:wrap;
		justify-content: space-around;
		align-content: space-between;
		padding: 2rem;
		&-img01 {
			position: absolute;
			clip: rect( 0px, 110px, 110px, 0px );
			max-width: 100%;
			max-height: 100%;
		}
		li {
			text-align: center;
			flex:0 0 25%;
			display: flex;
    		flex-direction: column;
    		justify-content: center;
		}
	}
  }

  .separatecategory {
	position: relative;
	background-color: #f6f6f6;
	padding:2rem 2rem 4rem 2rem;
	box-sizing: border-box;
	height: auto;
	h3 {
		position: relative;
		display: block;
		margin-bottom:22px;
	}

	.swiper-pagination2 {
		bottom: 20px !important;
	}
	.swiper{
		width:100%;
		height: 610px;
		.swiper-event-2 {
			width: 100%;
			height: 100%;
			overflow: hidden;

			.swiper-wrapper-2 {
				width: 100%;
				height: 100%;
				margin-left: auto;
				margin-right: auto;
				.swiper-slide {
					text-align: center;
					font-size: 18px;
					background: #fff;
					height: calc((100% - 50px) / 2) !important;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-radius: 20px;
					overflow: hidden;
					flex-wrap: nowrap;
					flex-direction: column;
					&-box {
						width:100%;
						height: auto;
						box-sizing: border-box;
						z-index: 3;
						&-sub {
							width:100%;
							height: auto;
							box-sizing: border-box;
							padding: 2rem;
							background-color: white;
							position: relative;
							z-index: 3;
							&-button {
								position: absolute;
								right: 17px;
								bottom: 17px;
								width:8rem;
								height: 3rem;
								border: 1px solid #c20000;
								border-radius: 100px;
								padding:0 0 0 0;
								text-align: center;
								color:#c20000;
								font-family: 'Pretendard';
								font-size: 1.4rem;
							}
						}
					}
				}
					img {
						max-width: 100%;
						width: 100% !important;
						height: 140px;
						transition-duration:  0.4s;
						object-fit: cover;
						object-position: 50% 50%;
						&:hover {
							transform: scale(1.4);
						}
					}

						span {
							display: inline-block;
							width: 100%;
							overflow: hidden;
							font-weight: 500;
							font-size:1.8rem;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
						p {
							font-size:1.4rem;
							color:#a9a9a9;
							margin-top:-10px;
							margin-bottom: 10px;
						}
						b {
							font-size:2rem;
						}


				}
			}

  		}
	}
	.how {
		position: relative;
		width: 100%;
		height: auto;
		> h3 {
			position: relative;
			display: block;
			padding: 2rem 2rem 0rem 2rem;
		}
		.mid-container {
			margin-top:10px;
			padding: 0rem 2rem 4rem 2rem;
		}
		.swiper-top-container3 {
			width:100%;
			height:auto;
			.mySwiper3 {
				width: 100%;
				height: 100%;
				.swiper-wrapper {

				}
				.swiper-slide {
					text-align: center;
					font-size: 18px;
					background: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 70% !important;
					flex-direction: column;
					border-radius: 20px;
					overflow: hidden;
					justify-content: flex-start;
					border:1px solid #ddd;
					img {
						display: block;
						width: 100%;
						height:120px;
						object-fit: cover;
						object-position: 50% 50%;
						transition-duration: 0.4s;
						&:hover {
							transform: scale(1.4);
						}
					}
					&-box {
						display: inline-block;
						width:100%;
						height: auto;
						box-sizing: border-box;
						background-color: white;
						z-index: 3;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						&-sub {
							padding: 2rem;
							background-color: white;
							z-index: 3;
							overflow: hidden;
							position: relative;
							&-button {
								position: absolute;
								right: 1.2rem;
								bottom: 1.5rem;
								width:8rem;
								height: 3rem;
								border: 1px solid #c20000;
								border-radius: 100px;
								padding:0 0 0 0;
								text-align: center;
								color:#c20000;
								font-family: 'Pretendard';
								font-size: 1.4rem;
							}
						}

						dt {
							font-family: 'Pretendard';
							font-size: 1.6rem;
							font-weight: 400;
							&::after {
								content: "";
								background-image: url(../images/icon_pin.png);
								display: inline-block;
								position: relative;
								background-repeat: nore;
								background-repeat: no-repeat;
								background-size: 100%;
								width: 10px;
								height: 12px;
								position: relative;
								margin-left: 5px;
							}
						}
						span {
							display: inline-block;
							font-family: 'Pretendard';
							font-size: 1.8rem;
							font-weight: 600;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							width: 100%;
							margin-top:10px;
						}
						p {
							font-size: 1.4rem;
							font-weight: 600;
							color:#999999;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							width: 100%;
							margin-top:-10px;
						}

						b {
							font-family: 'Pretendard';
							font-size: 2rem;
							font-weight: 600;
							margin-top:10px;
							position: relative;
							display: block;
							font-weight: bold;
						}

					}

				}
			}
		}
	}

	.shopping {
		position: relative;
		width: 100%;
		height: auto;
		background: url('../images/bg_homeshoping.png') no-repeat 100% 100%;
		padding: 4rem 2rem;
		box-sizing: border-box;
		transition-duration: 0.4s;
		background-size: cover;
    	background-position: 50% 100%;
		&-box {
			margin-top: 32px;
			width:100%;
			height: 402px;
			background: url('../images/temp_640x400.png') no-repeat 100% 100%;
			padding: 0 !important;
			border-radius: 40px;
			overflow: hidden;
			transition-duration: 0.4s;
			background-size: cover;
    		background-position: 50% 100%;
			img {
				position: absolute;
				left:50%;
				top:50%;
				transform: translate(-50%,-50%);
				cursor: pointer;
			}
			&-text {
				position: relative;
				top:0;
				left:0;
				width:100%;
				height: 120px;
				background-color: rgba(0,0,0,0.3);
				padding: 3rem;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				span {
					opacity: 1 !important;
					color:white;
					font-family: 'Pretendard';
					font-size: 1.5rem;
				}
			}
		}
		h3 {
			color:white;
			font-family: 'Pretendard';
		}
	}

	.youtube {
		position:relative;
		width:100%;
		height: auto;
		padding:3rem;
		box-sizing: border-box;
		font-family: 'Pretendard';

		.mySwiper4 {
			position: relative;
			width: 80%;
			height: auto;
			margin: auto;
			margin-top: 34px;

			.swiper-wrapper {
				height: auto;
				.swiper-slide {
					border:1px solid #ddd;
					border-radius: 25px;
					overflow: hidden;
					box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
					img {
						background-size: 100%;
						object-fit: cover;
						width: 100%;
					}
					&-box {
						width: 100%;
						height: auto;
						box-sizing: border-box;
						display: flex;
						align-items: center;
						flex-direction: column;
						&-sub {
							width:100%;
							height: auto;
							box-sizing: border-box;
							padding: 2rem;
							background-color: white;
							position: relative;
							z-index: 3;
						}
						p {
							font-size:1.3rem;
							font-family: 'Pretendard';
							font-weight: 600;
						}
					}
				}
			}
		}
		.inquiry {
			position: relative;
			width:100%;
			height: auto;
			border:1px solid #cdcdcd;
			margin-top: 9vw;
			border-radius: 10px;
			padding:2.813rem;
			background-image: url('../images/icon_customer.png');
			background-position: right 4rem top 2.5rem;
			background-repeat: no-repeat;
			background-size: 2.5rem;
			&-button {
				position: absolute;
				right:0;
				bottom: 0;
				width: 11rem;
				height: 4rem;
				background-color: #1a2e46;
				border-radius: 100px;
				margin: 2rem;
				text-align: center;
				b {
					color:white;
					font-family: 'Pretendard';
					font-size:1.5rem;
					font-weight: 400;
				}
			}
			> span {
				font-size: 2.7rem;
				font-weight: 600;
				font-family: 'Pretendard';
			}
			> b {
				display: block;
				margin-top: 30px;
				font-size:2.7rem;
				margin-bottom: 58px;
				letter-spacing: -1.3px;
			}
			> p {
				font-size:2rem;
				display: inline-block;
				font-family: 'Pretendard';
				letter-spacing: -1.3px;
			}
			> dt {
				font-weight: 800;
				font-size:2rem;
				display: inline-block;
				font-family: 'Pretendard';
				letter-spacing: -1.3px;
			}
		}
	}

	.footer {
		position: relative;
		width:100%;
		height: 1011px;
		&-top {
			position: relative;
			width:100%;
			height: 240px;
			border-top:2px solid #686868;
			&-info {
				width:100%;
				height: 115px;
				border-bottom: 1px solid #ddd;
				display: flex;
				align-items: center;
				li {
					position: relative;
					width: 100%;
					text-align: center;
					&:after {
						content: '|';
						float: right;
						color:#ddd;
					}
					&:last-child:after {
						content:'';
					}


				}
			}

		}

		&-bottom {
			position: relative;
			width:100%;
			height: auto;
			padding:2.5rem;
			box-sizing: border-box;
			border-top: 2px solid #dedede;
			background-color: #f2f2f2;
			overflow: hidden;
			> p {
				color:#4e4e4e;

			}
			&-last {
				transition-duration: 0.4s;
				b {
					font-size: 1.75rem;
					}
					img {
						display: inline-block;
						height: 2.5rem;
						transition-duration: 0.4s;
						transform: rotate(180deg);
						vertical-align: bottom;
						transform-origin: 30% 50%;
						margin-left:10px;
					}
				p {
					color:#4e4e4e;
					line-height: 30px;
					font-size:1.4rem;
				}
			}

			&-toggle {
				animation-duration: 0.4s;
				display: none;
				margin-top:20px;
			}
		}

		&-bottom-info {
			position: relative;
			margin:0 auto;
			display: flex;
			width:70%;
			height: 115px;


			li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
			}
		}
		&-info {
			position: relative;
			width:100%;
			height: 165px;
			border-top:1px solid #ddd;
			background-color: #f2f2f2;
			padding:6vw;
			box-sizing: border-box;
			&-sub {
				display: flex;
				flex-wrap: wrap;
				height: 100%;
				align-items: center;
				font-size:1.4rem;

				li:last-child:after, li:nth-child(3):after {
					content:'';
				}
				li:after {
					position: relative;
					content:"·";
					display: inline-block;
					float: right;
				}

				li:nth-child(1), li:nth-child(2), li:nth-child(3),  {
					flex:0 0 33%;
					text-align: center;
				}
				li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(7)  {
					flex:0 0 25%;
					text-align: center;
				}
			}
		}
	}

	.clear {
		clear: both;
	}

}
